header#main-header {
  display: flex;
  flex-direction: column;
  height: 72px;
  padding-top: 35px;
  padding-bottom: 25px;
  font: inherit;
}

header#main-header .header-content {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  padding: 0 30px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header#main-header .header-content a {
  color: #000;
  text-decoration: none;
  font-size: 23px;
}

header#main-header .header-content h1 {
  font-family: "Chivo", "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
  color: #303030;
  margin-bottom: -15px;
}
header#main-header .header-content h2 {
  font-size: 23px;
  font-weight: normal;
  line-height: 1.3;
  color: #aaa;
}

header#main-header .header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 620px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 30px;
  width: 100%;
}

header#main-header .header-buttons button {
  background-color: black;
  color: #ffffff;
  font-size: 20px;
  width: 140px;
  height: 50px;
  border: none;
  cursor: pointer;
}

header#main-header img {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  padding: 20px;
}
